  html {
    background-color: #131d2b;
    font-family: 'Press Start 2P', cursive;
    
  }

  .title,
  .modal {
    font-family: 'Press Start 2P', cursive;
  }

  
  header {
    display:flex;
    padding: 40px 0;
    background-color:#0e1622;
    justify-content: center;
  }

  .sign,
  .computerChoice,
  .playerChoice
  {
    text-align:center;
    font-size: 100px;
  }

  h1, h2, h3 {
    color:#fac650;
    text-align:center;
  }

  .results {
    justify-content: space-evenly;
    display:flex;
  }

  .playerResult, 
  .computerResult {
    font-size: 40px;
  }

  .playerScore,
  .computerScore {
    color:#fac650;
  }


  .scoreboard {
    background-color:#131d2b;
  }
  .buttons {
    display:flex;
    padding: 20px 20px;
    justify-content:space-evenly;
  }

  .messageReason {
    text-align:center;
  }

  button {
    /* border: 8px solid rgb(4, 1, 46); */
    border-radius: 32px;
    box-shadow: 2px 2px 3px black;
    object-fit: cover;
    background-color:#0e1622;
  }

/* The Modal (background) */
.modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  padding-top: 100px; /* Location of the box */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

/* Modal Content */
.modal-content {
  position: relative;
  background-color:#131d2b;
  margin: auto;
  padding: 0;
  border: 1px solid #888;
  width: 80%;
  color: #fac650;
  text-align: center;
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19);
  -webkit-animation-name: animatetop;
  -webkit-animation-duration: 0.4s;
  animation-name: animatetop;
  animation-duration: 0.4s
}

/* Add Animation */
@-webkit-keyframes animatetop {
  from {top:-300px; opacity:0} 
  to {top:0; opacity:1}
}

@keyframes animatetop {
  from {top:-300px; opacity:0}
  to {top:0; opacity:1}
}

/* The Close Button */
.close {
  color: white;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: #000;
  text-decoration: none;
  cursor: pointer;
}

.modal-header {
  padding: 2px 16px;
  background-color: #0e1622;
  color: #fac650
}

.modal-body {padding: 2px 16px;}

.modal-footer {
  padding: 2px 16px;
  background-color: #0e1622;
  color: #fac650;
}